*{
  margin: 0;
  padding: 0;
}

label{
 display: block;
 width: 100px;
 float: left;
 text-align: left;
}

header{
  background-image: url("banner.jpg");
  width: 100%
  padding:10px;
  margin: 0;
  height: 300px;
}

form{
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1px;
}

.bton{
  float: right;
}
